{% extends "layout.html" %}

{% block title %}
    Stocks
{% endblock %}

{% block main %}
    <form action="/buy" method="post">
        <div class="mb-3">
            <input autocomplete="off" autofocus class="form-control mx-auto w-auto" id="stockname" name="stockname" placeholder="Enter name of stock here" type="text">
        </div>
        <div class="mb-3">
            <input autocomplete="off" autofocus class="form-control mx-auto w-auto" id="stocknumber" name="stocknumber" placeholder="Enter number of stocks" type="text">
        </div>
        <button class="btn btn-primary" type="submit">Buy</button>
    </form>
{% endblock %}